.s-main {
  position: relative;
  padding-top: 30px;
  min-height: 100vh;
  z-index: 1;
  &::before {
    position: absolute;
    content: "";
    height: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: -1;
  }
  &__logo {
    display: block;
    width: 210px;
    margin: 0 auto;
  }
  &__content {
    margin: 20px auto;

    font-weight: 700;
    font-size: 28px;
    max-width: 345px;
    text-transform: uppercase;
    text-align: center;

    @media (max-width: 419px) {
      font-size: 26px;
      max-width: 330px;
    }
  }
  &__img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    width: 450px;
  }
  &__bar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 25px;
    border-radius: 16px 16px 0 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: white;
    z-index: 100;
  }
  &__bar-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    row-gap: 20px;
    max-width: 340px;
    margin: 0 auto;
  }
  &__bar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 80px;

    user-select: none;
    -webkit-tap-highlight-color: transparent;

    text-align: center;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    color: #52565f;

    @include hover {
      .rect {
        transform: scale(1.08);
      }
    }

    .rect {
      @include flex-center;
      border-radius: 10px;
      width: 50px;
      aspect-ratio: 1/1;
      background: #52565f;

      transition: transform 0.3s ease;
    }
  }
  &__bar-btn {
    @include flex-center;
    padding: 15px;
    gap: 15px;
    border-radius: 10px;
    background-color: #37bd4b;
    width: 100%;
    margin-top: 20px;

    user-select: none;
    -webkit-tap-highlight-color: transparent;

    font-weight: 700;
    font-size: 16px;

    transition: background-color 0.3s ease;

    @include hover {
      background-color: #33ad45;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }
}
