@font-face {
	font-family: CeraPro;
	font-display: swap;
	src: url("../fonts/CeraPro-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: CeraPro;
	font-display: swap;
	src: url("../fonts/CeraPro-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
